{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap"> 
	<div class="img-big-wrap">
	   <a href="#"><img src="{{ product_details.images.url }}"></a>
	</div> <!-- img-big-wrap.// -->
	
</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
<form action="{% url 'cart:add_to_cart' product_details.id %}" method="POST">
	{% csrf_token %}
<article class="content-body">

<h2 class="title">{{product_details.product_name}}</h2>

<div class="mb-3"> 
	<var class="price h4">${{product_details.price}}</var> 
</div> 

<p>{{product_details.description}}</p>


<hr>
	<div class="row">
		<div class="item-option-select">
			<h6>Choose Color</h6>
			<select class="form-control" name="color" required>
				{% for variation in product_details.variation_set.colors %}
					<option value="{{variation.variation_value | lower }}">{{variation.variation_value | capfirst }}</option>
				{% endfor %}
			</select>
		</div>
	</div> <!-- row.// -->
	<div class="row">
		<div class="item-option-select">
			<h6>Select Size</h6>
			<select class="form-control" name="size">
				{% for variation in product_details.variation_set.sizes %}
					<option value="{{variation.variation_value | lower }}">{{variation.variation_value | capfirst }}</option>
				{% endfor %}
			</select>
		</div>
	</div> <!-- row.// -->
	<hr>
	{% if product_details.stock <= 0 %}
		<h5 style="color: blue"> Out of stock </h5>
	{% else %}
	<button type="submit" href="{% url 'cart:add_to_cart' product_details.id %}" class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
	{% endif %}
</article> <!-- product-info-aside .// -->
</form>
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

<div class="row">
			<div class="col-md-9">

	<header class="section-heading">
		<h3>Customer Reviews </h3>  
		
	</header>

	<form action="{% url 'store:submit_review' product_details.id %}" method="POST" style="padding: 10px;"> 
		{% csrf_token %}
		<h5>Write Your Review </h5>
		<div style="margin: 10px"> 
			<!-- Rating Stars-->
			<label>How do you rate this product? </label>
			<br>
			<div class="rate"> 
				<input type="radio" name="rating" id="rate10" value="5" required> <label for="rate10" title="5"> </label>
				<input type="radio" name="rating" id="rate9" value="4.5" required><label for="rate9" title="4.5" class="half"> </label>
				<input type="radio" name="rating" id="rate8" value="4" required><label for="rate8" title="4"> </label>
				<input type="radio" name="rating" id="rate7" value="3.5" required><label for="rate7" title="3.5" class="half"> </label>
				<input type="radio" name="rating" id="rate6" value="3" required><label for="rate6" title="3"> </label>
				<input type="radio" name="rating" id="rate5" value="2.5" required><label for="rate5" title="2.5" class="half"> </label>
				<input type="radio" name="rating" id="rate4" value="2" required><label for="rate4" title="2"> </label>
				<input type="radio" name="rating" id="rate3" value="1.5" required><label for="rate3" title="1.5" class="half"> </label>
				<input type="radio" name="rating" id="rate2" value="1" required><label for="rate2" title="1"> </label>
				<input type="radio" name="rating" id="rate1" value="0.5" required><label for="rate1" title="0.5" class="half"> </label>
			</div>
			<br>
			Review:
			<textarea name="review" class="form-control" rows="4"> </textarea>
			{% include 'includes/alerts.html' %}
			{% if user.is_authenticated %}
			{% if orderproduct %}
			<input type="submit" value="Submit Review" class="btn btn-primary" style="margin-top: 10px;">
			{% else %}
			<p>You must purchase this product to make review.</p>
			{% endif %}
			{% else %}
			<p>You must be login in to post a review. <span> <a href="{% url 'accounts:log_in' %}">Login now </a> </span> </p>
			{% endif %}
		</div>

	</form>

	{% for review in review %}
	<article class="box mb-3" style="padding: 5px;">
		<div class="icontext w-100">
			<img src="{% get_media_prefix %}{{review.user.profile_image}}" class="img-xs icon rounded-circle">
			<div class="text">
				<span class="date text-muted float-md-right">{{review.updated_at}} </span>  
				<h6 class="mb-1">{{review.user.full_name}}</h6>
				<div class="rating-star">
					<span>

						<i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>

					</span> 
				</div>
				
			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
			<p>
				{{review.review}}
			</p>	
		</div>
	</article>
	{% endfor %}
	

	</div> <!-- col.// -->
</div> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// Git Test ========================= -->


{% endblock %}
